<!DOCTYPE html>
<html lang="de">
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> <!-- Vue.js Skript  -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PlanetEmissionsTracker</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="Layout.css">
</head>
<body>
  <div id="app"> <!-- Vue.js app eingefügt  -->
  <header>
    <!-- Logo + Name der Website  -->
    <img src="https://akzente.giz.de/sites/default/files/giz_akzente_CO2-Ausstoss-weltweit_header.jpg" alt="Logo">
    <h1>PlanetEmissionsTracker</h1>
  </header>
    <!-- Navigationsmenue  -->
  <nav>
    <ul>
      <li><a href="#">Startseite</a></li>
      <li><a href="#">Über uns</a></li>
      <li><a href="#">Leistungen</a></li>
      <li><a href="#">Kontakt</a></li>
    </ul>
  </nav>

  <main>
    <h2>Willkommen auf unserer Website!</h2>
    <p> Verfolge Emissionen, gestalte unsere Zukunft!</p>
    <!-- Links  -->
    <h3>Social Media Links</h3>
    <nav>
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagramm</a></li>
        <li><a href="#">TikTok</a></li>
      </ul>
    </nav>
    <!-- Überschrift + Feld zum Filtern  -->
    <h3>CO2-Emissionsdaten</h3>
    <input type="text" v-model="filter" placeholder="Filtern">  <!-- Vue.js Filter -->
  
    <!-- Tabelle + Daten -->
    <table id="emissions-table">
      <thead>
        <tr>
          <th>Land</th>
          <th>Unternehmen</th>
          <th>Emissionen (tCO2)</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="row in filteredRows" :key="row.company"> <!-- Vue.js Syntax -->
          <td>{{ row.country }}</td>
          <td>{{ row.company }}</td>
          <td>{{ row.emission }}</td>
        </tr>
      </tbody>
    </table>
  </main>

  <footer>
    &copy; 2023 PlanetEmissionsTracker. Alle Rechte vorbehalten.
  </footer>
</div> <!-- Vue.js app eingefügt  -->

<script src="app.js"></script>
</body>
</html>